* {
    font-family: 'Combo', cursive;
    font-size: 30px;
    font-weight: 900;
}

div div{
    height: 75px;
    width: 75px;
    background: yellow;
}

div{
    display: block;
    background-color: yellow;
    position: absolute;
}

.contenedor{
    background: green;
    position: relative;
    border: 4PX solid red;
    height: 450px;
    width: 450px;
    margin-left: 100px;
    margin-top: 50px;
}

.caja1{
    left: 0%;
}

.caja2{
    right: 0;
}

.caja3{
    right: 0%;
    bottom: 0%;
}

.caja4{
    bottom: 0;
}

.caja5{
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
}