* {
    font-family: 'Combo', cursive;
    font-size: 30px;
    font-weight: 900;
}

div{
    width: 200px;
    height: 200px;
    background-color: blue;
    display: inline-block;
}

.caja1{
    border: 5PX solid red;
}
.caja2{
    outline: 5PX solid red;
}
.caja3{
    border: 5PX solid red;
}
.caja4{
    outline: 5PX solid red;
}
.caja5{
    outline: 5PX solid red;
}